:root { 
--gray_901:#17171b; 
--gray_902:#16171a; 
--gray_900:#212228; 
--bluegray_100:#cccccc; 
--teal_50:#dee7ee; 
--bluegray_801:#2d2d61; 
--bluegray_800:#2c2d60; 
--bluegray_700:#48485c; 
--black_900:#000000; 
--bluegray_400:#89969f; 
--bluegray_200:#b8c5d0; 
--white_A700:#ffffff; 
--purple_300:#bd57c7; 
}